<h1>Add A New Coaster</h1>

<h6>Fields with * required</h6>

<%= form_for @coaster, url: coasters_path do |f| %>

  <% if @coaster.errors.any? %>
    <h2> Form is invalid </h2>
    <% for message in @coaster.errors.full_messages %>
      <h3> <%= message %>  </h3>
    <% end %>
  <% end %>
<div class="bg-info">
  <p>
    <%= f.label :name, "Name*" %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :location, "Location*" %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :description, "Description of the coaster, like the type and when it was built.*" %><br> 
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :image_url, "Image URL" %><br>
    <%= f.text_field :image_url %>
  </p>
 
  <p>
    <%= f.label :video_url, "Video YouTube URL Ending (part after v=)" %><br>
    <%= f.text_field :video_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
</div>
<% end %>