<!DOCTYPE html>
<html>
<head>
  <title>NkuProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= link_to 'Home', coasters_path, class: "btn btn-primary" %>
  <% if(session[:user_id] != nil) %>
    <%= link_to 'Create New Coaster', new_coaster_path, class: "btn btn-primary"  %>
    <%= link_to 'See all users', users_path, class: "btn btn-primary"  %>
     <%= link_to 'See your Reviews', reviews_path, class: "btn btn-primary"  %><br>
    <div class="text-left"><h4>Hello, <%= User.find(session[:user_id]).name %></h4></div>
    <%= link_to 'Logout', logout_session_path, class: "btn btn-primary pull-left"  %>
    
  <% else %>
    <%= link_to 'Create new User', new_user_path, class: "btn btn-primary"  %>
    <%= link_to 'Login', sessions_new_path, class: "btn btn-primary"  %>
  <% end %>
  
  <br>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
</head>
<body>

<%= yield %>

</body>
</html>
